
:root{

    /* 主题色 */
    --theme-color:#ff7171;

    /* 默认颜色 */
    --font-color:#333;
    --bg-color:#fff;

    /* 按钮 */
    --btn-font-color:#fff;
    --btn-bg-color:var(--theme-color);
    --btn-border-color:var(--theme-color);
    --btn-border-radius:5px;
    --btn-border-thick:1px;
    --btn-border-style:solid;

    /* 输入框 */
    --input-title-color:#333;
    --input-border-color:#999;
    --input-border-radius:0;
    --input-border-thick:1px;
    --input-border-style:solid;

    /* 头部 */
    --header-bg-color:var(--theme-color);
}